*{
    margin: 0;
    padding: 0;
    font-family: 'cwTeXFangSong', serif;
    box-sizing: border-box;
}

:root
{
    overflow-x: hidden;
    background-color: #c6d3ab;
}

a:active {
    color:#c6d3ab;
    text-decoration: none;
}

a:active{
    color:#669933;
}

.subject{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(./photo/grandma-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    position: relative;
    background-color: #ffffff;
    padding-top: 20px;
    transform: translateY(600px);
}

article{
    padding: 30px;
}

.main{
    width: 100%;
    height: auto;
    padding: 0px 20px 25px 20px;
    /*top right buttom left*/
}


.logo{
    position: fixed;
    top: 5px;
    left: 5px;
    width: 90px;
    height: auto;
    border-radius: 15px;
    z-index: 90;
}

nav { 
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100px;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 236, 211, 0.855);
    border: #8eb665 3px solid;
    z-index: 80;
}

ul
{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 500px;
}

li
{
    width: auto;
    height: auto;
    font-size: larger;
    font-weight: bold;
    transition: .3s;
}

li:hover{
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(11, 115, 39, 0.25);
}

li a
{
    color:rgba(11, 93, 63, 0.66);
    text-align: center;
    text-decoration: none;
    transition: .3s;
}


.contact{
    position: relative;
    transform: translateY(650px);
    right: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    z-index: 75;
}

.contact :hover{
   transform:scale(1.2,1.2);
}

.contact a img{
    background-color: rgba(11, 99, 17, 0.7);
    border-radius: 25px;
    width: 80px;
    height: auto;
    transition: all 1s ease-out;
    margin: 12px;
}

.product{
    margin: 10px;
}

.product-introduce{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border: 6px groove rgba(118, 191, 166, 0.353);
}

.product-words{
    border-left: 6px solid rgba(39, 132, 142, 0.644);
}

.photo{
    background-color: rgba(94, 172, 94, 0.579);
    overflow:hidden;
    width: 100%;
    height: auto;
    border-radius: 30px;
    transition: .3s;
}

.photo img{
    transform:scale(1,1);transition: all 1s ease-out;
    width: 35vw;
    height: auto;
    padding: 6px;
    border-radius: 30px;
}
    
.photo :hover{
    transform:scale(1.2,1.2);
}

.product-words
{
    background-color: #ffffff;
    padding: 10px;
    font-size: 20px;
    line-height: 200%;
    margin-left: 30px;
}

.notation {
    color: gray;
    font-weight: bold;
    text-decoration:underline;
}

.product-title
{
    background-color:beige;
    font-size: 25px;
    padding: 4px 5px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.title {
    color: #669933
}

footer
{
    background-color: wheat;
    min-height: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}