*{
    margin: 0;
    padding: 0;
    font-family: 'cwTeXFangSong', serif;
    box-sizing: border-box;
}


:root
{
    overflow-x: hidden;
    background-color: #c6d3ab;
}

.subject{
    position: fixed;
    width: 100%;
    height: 90vh;
    background: url(./photo/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(100px);
}

.container
{
    position: relative;
    background-color: #ffffff;
    padding-top: 20px;
    transform: translateY(700px);

    /* 
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 5px;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 1%;       
    padding-right: 1%; */
}

article{
    padding: 30px;
}

.main{
    width: 100%;
    height: auto;
    padding: 50px 20px;
}

nav { 
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100px;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 236, 211, 0.855);
    border: #8eb665 3px solid;
    z-index: 100;
}

ul
{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 500px;
}

li
{
    width: auto;
    height: auto;
    font-size: medium;
    font-weight: bold;
    transition: .3s;
}

li:hover{
    font-weight: bold;
    font-size: larger;
    color:rgba(167, 236, 211, 1);
}

li a
{
    color:rgba(11, 93, 63, 0.66);
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

li a:hover{
    color:rgba(217, 62, 220, 0.6);
}

.product-introduce
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* padding-top: 1%;
    padding-bottom: 0%; */
    width: 100%;
    /* border-width: 6px; border-style:groove; border-color: rgba(118, 191, 166, 0.353); */
    border: 6px groove rgba(118, 191, 166, 0.353);
    /* margin-bottom: 2%; */
}

.product-photo
{
    border-right: 4px solid rgba(39, 132, 142, 0.644);
}

.photo{
    width: 40vw;
    height: auto;
    padding: 10px;
}

.product-words
{
    background-color: #ffffff;
    padding: 10px;
    /* padding: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%; */
    font-size: 20px;
    line-height: 200%;
}

.notation {
    color: gray;
    font-weight: bold;
    /* margin-top: 0% */
}

.product-title
{
    background-color:beige;
    padding: 4px 0;
}

.title {
    color: #669933
}

footer
{
    background-color: wheat;
    /* height: 200px; */
    min-height: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}