html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "cwTeXFangSong", serif;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  overflow-x: hidden;
  background-color: #c6d3ab;
}

::-moz-selection {
  background: #61ae93;
  color: white;
}

::selection {
  background: #61ae93;
  color: white;
}

a:active {
  color: #669933;
}

.logo {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 90px;
  height: auto;
  border-radius: 15px;
  z-index: 90;
}

nav {
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(167, 236, 211, 0.855);
  border: #8eb665 3px solid;
  z-index: 80;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  max-width: 100%;
  height: auto;
  transition: 0.3s;
}
nav ul li:hover {
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(11, 115, 39, 0.25);
}
nav ul li a {
  font-size: 25px;
  font-weight: bold;
  color: rgba(11, 93, 63, 0.66);
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.contact {
  position: absolute;
  top: 73vh;
  right: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  z-index: 75;
}
.contact a img {
  background-color: rgba(11, 99, 17, 0.7);
  border-radius: 25px;
  width: 80px;
  height: auto;
  transition: all 0.5s ease-out;
  margin: 12px;
}
.contact a img:hover {
  transform: scale(1.2);
}

body .sec1 {
  width: 100vw;
  height: 80vh;
  background: url(../photo/grandma-1-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .sec2 {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 35px 30px 20px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 6px groove rgba(118, 191, 166, 0.353);
}
body .sec2 article {
  background-color: rgba(211, 224, 154, 0.55);
  padding: 20px;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  border: #8eb665 3px outset;
  margin-right: 20px;
}
body .sec2 article h2 {
  color: #669933;
  padding-bottom: 10px;
}
body .sec2 article p {
  font-size: 20px;
  font-weight: bold;
  color: rgba(49, 131, 101, 0.855);
  line-height: 180%;
}
body .sec2 .sec2-photo {
  width: 65vw;
  height: auto;
}
body .sec2 .sec2-photo img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: #8eb665 3px outset;
}
body .sec3 {
  width: 100vw;
  height: 85vh;
  background: url(../photo/seedling.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .sec4 {
  background-color: #ffffff;
}
body .sec4 .main {
  width: 100%;
  height: auto;
  padding: 20px 20px 25px 20px;
}
body .sec4 .main .title {
  color: #669933;
  padding-bottom: 15px;
}
body .sec4 .main p {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}
body .sec4 article {
  padding: 30px;
}
body .sec4 article .product {
  margin: 10px;
}
body .sec4 article .product .product-introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  border: 6px groove rgba(118, 191, 166, 0.353);
}
body .sec4 article .product .product-introduce .product-words {
  border-left: 6px solid rgba(39, 132, 142, 0.644);
  background-color: #ffffff;
  padding: 10px;
  font-size: 20px;
  line-height: 200%;
  margin-left: 30px;
}
body .sec4 article .product .product-introduce .product-words .product-title {
  background-color: beige;
  font-size: 25px;
  padding: 4px 5px;
  margin-bottom: 10px;
  margin-top: 15px;
}
body .sec4 article .product .product-introduce .product-words .notation {
  color: gray;
  font-weight: bold;
  text-decoration: underline;
}
body .sec4 article .product .photo {
  background-color: rgba(94, 172, 94, 0.579);
  width: 100%;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
}
body .sec4 article .product .photo img {
  transform: scale(1, 1);
  transition: all 1s ease-out;
  width: 35vw;
  height: auto;
  padding: 6px;
  border-radius: 30px;
  transition: 0.3s;
}
body .sec4 article .product .photo img:hover {
  transform: scale(1.2, 1.2);
}
body .sec5 footer {
  background-color: wheat;
  min-height: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}/*# sourceMappingURL=index.css.map */